@charset "UTF-8";

@import './resources/reset';
@import './resources/body-contenedor';
@import './resources/header';
@import './resources/main-index';
@import './resources/main-comprar';
@import './resources/main-vender';
@import './resources/main-conocenos';
@import './resources/main-contacto';