
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    scroll-behavior: smooth;
  }
  
  .contenedor {
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 4, 4);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }
  
  

  
  body::-webkit-scrollbar {
    width: 7px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #c2500ea0;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: normal;
    background-color: #222;
  
  
  }
  
  .header img {
    width: 50px;
    height: 50px;
  
  }
  
  .header h1 {
    padding: 0px;
    text-align: left;
    margin-left: 15px;
    display: block;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    background-color: #222;
    color: #e5e5f7;
    text-decoration: none;
  
  }
  
  nav {
    background-color: #222;
    height: 80px;
    width: 100%;
    max-width: 992px;
  }
  
  nav .list {
    float: right;
    margin-right: 20px;
  
  }
  
  
  nav .list li {
    display: inline-block;
    line-height: 80px;
    list-style: none;
    text-decoration: none;
  
  }
  
  
  nav .list li a {
  
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #f4eeeb;
  }
  
  li a.active,
  li a:hover {
    background: #29298e;
    transition: .5s;
  }
  
  .checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  .check {
    display: none;
  }
  
  @media (max-width: 952px) {
    .logo {
      padding-left: 20px;
  
  
    }
  
    nav .list li a {
      font-size: 16px;
    }
  }
  
  
  @media (max-width: 800px) {
    .checkbtn {
      display: block;
  
  
  
    }
  
    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c2083;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      flex-direction: column;
    }
  
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    nav ul li a {
      font-size: 20px;
  
    }
  
    li a:hover,
    li a.active {
      background: none;
      color: red;
    }
  
  
  
    #check:checked~ul {
      left: 0;
      z-index: 2;
    }
  
  
  }
  
  
  #carouselExampleAutoplaying {
    width: 100%;
    padding: 20px;
    margin: auto;
  }
  
  
  #main-index {
    background-color: rgb(235, 244, 244);
    width: 100%;
    padding: 20px;
    margin: auto;
  }
  
  .edificio {
    background: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
  }
  
  
  
  
  .noticias-informacion .casa-manos {
    background: no-repeat;
    display: flex;
    justify-content: center;
    width: 100%;
    background: no-repeat;
    margin: 0 px;
    padding: 5px;
  
  
  
  }
  
  
  .h1 {
    text-align: center;
    background: rgb(235, 244, 244);
    text-align: start;
    position: relative;
    margin: auto;
    text-transform: uppercase;
  
  }
  
  .parrafo {
    text-align: center;
    text-overflow: clip;
    font-size: 20px;
  }
  
  .parrafo1 {
    text-align: center;
    text-transform: lowercase;
    font-size: 20px;
  }
  
  
  
  .main-contacto {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5e5f7;
    opacity: 5;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  
  }
  
  h2 {
    text-align: center;
    background-color: #e5e5f7;
    border-radius: 50%;
  
  }
  
  .main-contacto form {
    background-color: transparent;
    margin: auto;
    width: 90%;
    max-width: 400px;
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
    border-style: solid;
  
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  a {
    color: #FF4136;
  }
  
  .wrap {
    width: 90%;
    max-width: 1000px;
    margin: auto;
  }
  
  .info {
    text-align: center;
    padding: 20px;
    color: #001F3F;
    border-bottom: 1px solid #ccc;
  }
  
  .info p {
    margin-top: 20px;
  }
  
  .formulario h2 {
    font-size: 16px;
    color: #001F3F;
    margin-bottom: 20px;
    margin-left: 20px;
  
  }
  
  .formulario>div {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .formulario .radio label,
  .formulario .checkbox label {
    display: inline-block;
    cursor: pointer;
    color: #FF4136;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .formulario .radio label:hover,
  .formulario .checkbox label:hover {
    background: rgba(255, 65, 54, 0.1);
  }
  
  .formulario .radio label:before,
  .formulario .checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #FF4136;
  }
  
  .formulario input[type="radio"] {
    display: none;
  }
  
  .formulario input[type="radio"]:checked+label:before {
    display: none;
  }
  
  .formulario input[type="radio"]:checked+label {
    padding: 5px 15px;
    background: #FF4136;
    border-radius: 2px;
    color: #fff;
  }
  
  .formulario .checkbox label:before {
    border-radius: 3px;
  }
  
  .formulario .checkbox input[type="checkbox"] {
    display: none;
  }
  
  .formulario .checkbox input[type="checkbox"]:checked+label:before {
    display: none;
  }
  
  .formulario .checkbox input[type="checkbox"]:checked+label {
    background: #FF4136;
    color: #fff;
    padding: 5px 15px;
  }
  
  
  .parrafo-conocenos {
    text-align: center;
    text-decoration: solid;
    font-size: 20px;
    color: #e5e5f7;
    background-color: #222;
  
  
  
  }
  
  .contenido-conocenos {
    display: flex;
  }
  
  .mapa {
    width: 100%;
    height: 400px;
  
  }
  
  
  .footer {
    background-color: #222;
    padding: 1em 0;
    text-align: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-top: auto;
  
  }
  
  
  section {
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  #menu {
    background-color: rgb(195, 35, 88);
    display: grid;
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: repeat(2, 140px);
    justify-content: center;
    align-content: center;
    grid-template-areas:
      "casa casa deptos deptos"
      "casa casa ph pieza";
  }
  
  #menu .tile {
    height: 100%;
    align-content: center;
    overflow: hidden;
    cursor: pointer;
  }
  
  #menu .tile a {
    text-decoration: none;
  }
  
  #menu .tile .front {
    color: white;
    background-color: black;
    height: 100%;
    margin: 0px;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: all 0.3s ease;
  
    padding: 20px;
    box-sizing: border-box;
  }
  
  #menu .tile:hover .front {
    margin-top: -100%;
  }
  
  #menu .deptos-tile:hover .front {
    margin-top: -50%;
  }
  
  #menu .tile .back {
    background-color: #222;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 28px;
  }
  
  #menu .casa-tile {
    grid-area: casa;
    background-color: red;
  }
  
  #menu .casa-tile .front {
    background-image: url(../Recursos/jpeg.2.jpg );
    background-size: cover;
    background-position: top center;
  }
  
  #menu .deptos-tile {
    grid-area: deptos;
    background-color: yellow;
  }
  
  #menu .deptos-tile .front {
    background-image: url(../Recursos/jpeg.5.jpg);
    background-size: cover;
    background-position: top center;
  }
  
  #menu .ph-tile {
    grid-area: ph;
    background-color: rgb(0, 255, 119);
  }
  
  #menu .ph-tile .front {
    background-image: url(../Recursos/jpeg.7.jpg);
    background-size: cover;
    background-position: top center;
  }
  
  #menu .pieza-tile {
    grid-area: pieza;
    background-color: rgb(255, 0, 208);
  }
  
  #menu .pieza-tile .front {
    background-image: url(../Recursos/jpeg.4.jpg);
    background-size: cover;
    background-position: top center;
  }
  
  .main-vender {
    background-image: url(../Recursos/1535741541_243273_1535744034_noticia_normal_recorte1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .main-vender p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #f4f2f2;
    background-color: #222
  }
  
  .main-conocenos {
    background-image: url(../Recursos/fotogaleria-argentina-pobreza-vista-aerea-de-la-villa-31-962695.jpg);
    background-repeat: no-repeat;
    background-position: right right;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .vi {
    font-size: 20px;
    background-color: #222;
    color: white;
  }
  
  .vi ul {
    background-color: #222;
    color: white;
  }
  
  .list-conocenos {
    background-color: #222;
    color: white;
  }
  
  
  .main-compra {
    background-image: url(../Recursos/vivienda-nueva.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .div-subir {
    position: relative;
    padding: 10px;
    margin: 150px;
    width: 302px;
    background-color: #444cf7;
    border-radius: 5px;
    box-shadow: 0px 3px 0px blue;
  
  
  }
  
  input.bt-enviar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .formulario-compra {}
  
  
  .parrafo-manual {
    margin-bottom: 0rem;
  }