.header {
	display: flex;
	justify-content: center;
	align-items: normal;
	background-color: #222;

	&__img {
		width: 50px;
		height: 50px;

		&__h1 {
			padding: 0px;
			text-align: left;
			margin-left: 15px;
			display: block;
			text-transform: uppercase;
			font-size: 26px;
			font-weight: bold;
			background-color: #222;
			color: #e5e5f7;
			text-decoration: none
		}

		nav {
			background-color: #222;
			height: 80px;
			width: 100%;
			max-width: 992px;

			.list {
				float: right;
				margin-right: 20px;

				li {
					display: inline-block;
					line-height: 80px;
					list-style: none;
					text-decoration: none;

					a {
						font-size: 18px;
						padding: 7px 13px;
						border-radius: 3px;
						text-transform: uppercase;
						text-decoration: none;
						color: #f4eeeb;
						font-size: 16px;

						ul {
							position: fixed;
							width: 100%;
							height: 100vh;
							background: #2c2083;
							top: 80px;
							left: -100%;
							text-align: center;
							transition: all .5s;
							display: flex;
							flex-wrap: wrap;
							align-content: center;
							justify-content: center;
							flex-direction: column;

							&__li {
								display: block;
								margin: 50px 0;
								line-height: 30px;

								a {
									font-size: 20px;

									li a.active,
									li a:hover {
										background: #29298e;
										transition: .5s;
									}

									.checkbtn {
										font-size: 30px;
										color: #fff;
										float: right;
										line-height: 80px;
										margin-right: 40px;
										cursor: pointer;
										display: none;

										.check {
											display: none;
										}

										@media (max-width: 952px) {
											.logo {
												padding-left: 20px;


											}

											nav .list li a {
												font-size: 16px;
											}
										}


										@media (max-width: 800px) {
											.checkbtn {
												display: block;



											}

											nav ul {
												position: fixed;
												width: 100%;
												height: 100vh;
												background: #2c2083;
												top: 80px;
												left: -100%;
												text-align: center;
												transition: all .5s;
												display: flex;
												flex-wrap: wrap;
												align-content: center;
												justify-content: center;
												flex-direction: column;
											}

											nav ul li {
												display: block;
												margin: 50px 0;
												line-height: 30px;
											}

											nav ul li a {
												font-size: 20px;

											}

											li a:hover,
											li a.active {
												background: none;
												color: red;
											}



											#check:checked~ul {
												left: 0;
												z-index: 2;
											}













											/*.check {
	display: none ;
@media 
	(max-width 
		&: 
			952px) 
				.logo {
      padding-left: 20px 
} 
	@media 
		(max-width 
			&: 
				800px) 
					.checkbtn {
      display: block 
	#carouselExampleAutoplaying 
		width: 100% 
		padding: 20px 
		margin: auto 
	.parrafo-manual 
		margin-bottom: 0rem 
li a:hover,
    li a.active 
	background: none 
	color: red 
#check 
	&:checked 
		& ~ ul 
			left: 0 
			z-index: 2 }
*/
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}