
#main-index{ 
	background-color: rgb(235, 244, 244) 
	width: 100% 
	padding: 20px 
	margin: auto 
.edificio 
	background: no-repeat 
	background-position: center center 
	background-repeat: no-repeat 
	background-size: cover 
	height: 600px 
	width: 100% 
.noticias-informacion 
	.casa-manos 
		background: no-repeat 
		display: flex 
		justify-content: center 
		width: 100% 
		background: no-repeat 
		margin: 0 px 
		padding: 5px 
.h1 
	text-align: center 
	background: rgb(235, 244, 244) 
	text-align: start 
	position: relative 
	margin: auto 
	text-transform: uppercase 
.parrafo 
	text-align: center 
	text-overflow: clip 
	font-size: 20px 
.parrafo1 
	text-align: center 
	text-transform: lowercase 
	font-size: 20px}