* {
	margin: 0; 
	padding: 0; 
	font-family: Arial, Helvetica, sans-serif; 
	text-decoration: none; 
	list-style: none; 
	box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	margin: 0; 
	padding: 0; 
}